/*=========================================================================================
  File Name: app.scss
  Description: Write your custom scss
  ----------------------------------------------------------------------------------------
  Item Name: Vuesax Admin - VueJS Dashboard Admin Template
  Author: Pixinvent
  Author URL: hhttp://www.themeforest.net/user/pixinvent
==========================================================================================*/

@import 'main';

// CUSTOM TEXT COLOR
.text-gold {
    color: $gold;
}

.bg-gold {
    background: $gold;
}

// AVATAR SUPPERPOSE
.supperposed-avatar {
    position: absolute;
    bottom: 10px;
    right: 5px;
    width: 15px;
    height: 15px;
    background-color: $theme-dark-bg;
}

// DOT CIRCLE
.bg-theme-dark {
    background-color: $theme-dark-bg;
}

// DOT CIRCLE
.border-theme-dark {
    border-color: $theme-dark-bg;
}

// LANE SELECTION

.lane-selection .all:before {
    background-image: url("../assets/images/dragon/positions/allIcon.png");
}

.lane-selection .top:before {
    background-image: url("../assets/images/dragon/positions/topLane.png");
}

.lane-selection .mid:before {
    background-image: url("../assets/images/dragon/positions/midLane.png");
}

.lane-selection .jungle:before {
    background-image: url("../assets/images/dragon/positions/jungle.png");
}

.lane-selection .bot:before {
    background-image: url("../assets/images/dragon/positions/botLane.png");
}

.lane-selection .support:before {
    background-image: url("../assets/images/dragon/positions/support.png");
}

.lane-selection a {
    padding-left: 25px;
}

.lane-selection a:before {
    content: '';
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    position: absolute;
    left: 8px;
}

.theme-dark .vs-navbar li.vs-navbar--item.is-active-item a {
    color: rgba(var(--vs-primary), 1);
}

.theme-dark .vs-navbar--item:hover a {
    color: rgba(var(--vs-primary), 1) !important;
}

// ROUNDED

.rounded {
    border-radius: 0.50rem !important;
}

.rounded-lg {
    border-radius: 0.75rem !important;
}

// WIN LOSE BORDER WITH SHADOW

.win-border {
    border-color: $light-green !important;
}

.win-shadow {
    box-shadow: 0 0 5px 0 $shadow-green;
}

.primary-shadow {
    box-shadow: 0 0 5px 0 rgba(var(--vs-primary), 1);
}


.lose-border {
    border-color: $dark-red !important;
}

.lose-shadow {
    box-shadow: 0 0 5px 0 $shadow-red;
}

.text-shadow {
    text-shadow: 0 1px 0.5px rgba(0, 0, 0, 1);
}

.text-shadow-md {
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.08);
}

.text-shadow-lg {
    text-shadow: 0 15px 30px rgba(0, 0, 0, 0.11), 0 5px 15px rgba(0, 0, 0, 0.08);
}

.text-shadow-none {
    text-shadow: none;
}

.mini-chip {
    .con-vs-chip {
        min-height: 17px;
        padding-right: 6px;
        padding-left: 6px;
        margin-top: 3px;
    }

    .text-chip {
        margin-left: 0px;
    }

    .vx-row>.vx-col {
        padding: 0 0.5rem;
    }
}

.mini-chip .transparent {
    .con-vs-chip {
        background: #262C49;


    }

    .con-vs-chip .text-chip {
        color: white !important;
    }

}

.theme-dark .con-vs-loading {
    z-index: 999;
}

.shadow-primary {
    box-shadow: 0 15px 30px 0 rgba(0, 145, 234, 0.11),
        0 5px 15px 0 rgba(0, 145, 234, 0.18) !important;
}
