/*=========================================================================================
  File Name: app.scss
  Description: Write your custom scss
  ----------------------------------------------------------------------------------------
  Item Name: Vuesax Admin - VueJS Dashboard Admin Template
  Author: Pixinvent
  Author URL: hhttp://www.themeforest.net/user/pixinvent
==========================================================================================*/

@import 'main';

// AVATAR SUPPERPOSE
.supperposed-avatar{
    position: absolute;
    bottom: 10px;
    right: 5px;
    width: 15px;
    height: 15px;
    background-color: $theme-dark-bg;
}

// DOT CIRCLE
.bg-theme-dark {
  background-color: $theme-dark-bg;
}
