/*=========================================================================================
  File Name: app.scss
  Description: Write your custom scss
  ----------------------------------------------------------------------------------------
  Item Name: Vuesax Admin - VueJS Dashboard Admin Template
  Author: Pixinvent
  Author URL: hhttp://www.themeforest.net/user/pixinvent
==========================================================================================*/

@import 'main';
// CUSTOM TEXT COLOR
.text-gold{
    color:#FFC107!important;
}
// AVATAR SUPPERPOSE
.supperposed-avatar{
    position: absolute;
    bottom: 10px;
    right: 5px;
    width: 15px;
    height: 15px;
    background-color: $theme-dark-bg;
}

// DOT CIRCLE
.bg-theme-dark {
  background-color: $theme-dark-bg;
}

// LANE SELECTION

.lane-selection .all:before {
    background-image: url("../assets/images/dragon/positions/allIcon.png");
}
.lane-selection .top:before {
    background-image: url("../assets/images/dragon/positions/topLane.png");
}
.lane-selection .mid:before {
    background-image: url("../assets/images/dragon/positions/midLane.png");
}
.lane-selection .jungle:before {
    background-image: url("../assets/images/dragon/positions/jungle.png");
}
.lane-selection .bot:before {
    background-image: url("../assets/images/dragon/positions/botLane.png");
}
.lane-selection .support:before {
    background-image: url("../assets/images/dragon/positions/support.png");
}
.lane-selection a {
    padding-left:25px;
}
.lane-selection a:before {
    content: '';
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    position: absolute;
    left: 8px;
}

.theme-dark .vs-navbar li.vs-navbar--item.is-active-item a{
    color:rgba(var(--vs-primary), 1);
}
.theme-dark .vs-navbar--item:hover a{
    color:rgba(var(--vs-primary), 1)!important;
}

// ROUNDED

.rounded{
    border-radius: 0.50rem!important;
}
